title: DovbushHub
description: Український ігровий блог про відеоігри
url: https://dovbush-media.github.io
baseurl: ""

# Build settings
markdown: kramdown
theme: jekyll-theme-minimal

# Collections
collections:
  posts:
    output: true
    permalink: /:year/:month/:day/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      category: "Новини"

# Exclude files
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

# Timezone
timezone: Europe/Kiev

# Language
lang: uk
